<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="2.0.1.1" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="Protractor" version="0.8.1" targetFramework="net452" />
  <package id="Selenium.Mozilla.Firefox.Webdriver" version="0.6.0.1" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.24.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.0.0.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="SpecFlow.NUnit" version="2.1.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.9.0" targetFramework="net452" />
  <package id="WebDriverIEDriver" version="2.45.0.0" targetFramework="net452" />
</packages>